.vs
/SngClient/Assets/ProudDotNetClientUnity.dll.meta
/SngClient/Assets/ProudDotNetClientUnity.dll
/SngClient/Assets/ProudNetClientPlugin.dll.meta
/SngClient/Assets/ProudNetClient.dll
/SngClient/Assets/ProudNetClient.dll.meta
/SngClient/Assets/ProudNetClientPlugin.dll
